# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment and dependency files
*.env
*.venv
.DS_Store

# Ignore data and outputs
*.csv
*.txt
*.pkl

# Ignore output files and dependencies
outputs/
outputs/dependence_plots/

# Ignore any hidden system files (e.g., macOS specific)
._*
